.results {
  padding: 0 0 20px;
}
.results .container {
  text-align: center;
  padding: 40px;
}
.results__title {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 20px;
}
.results__list > * {
  position: relative;
  width: 1300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #373737;
}
.results p {
  display: inline-block;
  margin-right: 15px;
}
.results p:first-child {
  font-weight: 600;
}

.control-panel .container {
  text-align: center;
  padding: 40px 40px 0;
}
.control-panel__title {
  width: fit-content;
  margin: 0 auto 20px;
}
.control-panel__list > * {
  position: relative;
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #373737;
  background: white;
}
.control-panel p {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.control-panel p ::after {
  content: "";
  width: 1px;
  height: 100%;
  top: 1px;
  right: 1px;
  background: black;
}
.control-panel .btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
  background: darkgray;
  cursor: pointer;
}
.control-panel .active {
  background: lightgray;
}

.clients .container {
  text-align: center;
  padding: 40px;
}
.clients__title {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 20px;
}
.clients__button {
  margin-top: 10px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}
.clients__list > * {
  position: relative;
  width: 1340px;
  height: 70px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #373737;
}
.clients p {
  display: inline-block;
  margin-right: 15px;
}

.stuff {
  padding: 120px 0;
}
.stuff .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stuff__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.stuff__item {
  width: 300px;
  display: flex;
  padding: 25px 30px;
  align-items: center;
  border-radius: 10px;
  background: #ffffff;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.stuff img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.stuff h3 {
  margin-bottom: 30px;
}
.stuff .text {
  margin-bottom: 15px;
}
.stuff p {
  text-align: center;
}

.insert-panel .container {
  text-align: center;
  padding: 40px 40px 0;
}
.insert-panel__title {
  width: fit-content;
  margin: 0 auto 20px;
}
.insert-panel__list > * {
  position: relative;
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #373737;
  background: white;
}
.insert-panel p {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.insert-panel p ::after {
  content: "";
  width: 1px;
  height: 100%;
  top: 1px;
  right: 1px;
  background: black;
}
.insert-panel .btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
  background: darkgray;
  cursor: pointer;
}
.insert-panel .active {
  background: lightgray;
}
.insert-panel button {
  margin: 30px 0;
}
.insert-panel h1 {
  margin-bottom: 30px;
}

.tasks-insert-form, .ip-insert-form, .stuff-insert-form {
  display: none;
}

.delete-panel .container {
  text-align: center;
  padding: 40px 40px 0;
}
.delete-panel__title {
  width: fit-content;
  margin: 0 auto 20px;
}
.delete-panel__list > * {
  position: relative;
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #373737;
  background: white;
}
.delete-panel p {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.delete-panel p ::after {
  content: "";
  width: 1px;
  height: 100%;
  top: 1px;
  right: 1px;
  background: black;
}
.delete-panel .btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
  background: darkgray;
  cursor: pointer;
}
.delete-panel .active {
  background: lightgray;
}
.delete-panel button {
  margin: 30px 0;
}
.delete-panel h1 {
  margin-bottom: 30px;
}

.tasks-delete-form, .ip-delete-form, .stuff-delete-form {
  display: none;
}

.update-panel .container {
  text-align: center;
  padding: 40px 40px 0;
}
.update-panel__title {
  width: fit-content;
  margin: 0 auto 20px;
}
.update-panel__list > * {
  position: relative;
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #373737;
  background: white;
}
.update-panel p {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.update-panel p ::after {
  content: "";
  width: 1px;
  height: 100%;
  top: 1px;
  right: 1px;
  background: black;
}
.update-panel .btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
  background: darkgray;
  cursor: pointer;
}
.update-panel .active {
  background: lightgray;
}
.update-panel button {
  margin: 30px 0;
}
.update-panel h1 {
  margin-bottom: 30px;
}

/*# sourceMappingURL=stuff.css.map */
