footer {
	background-color: #fff7f4;

	.button {
		margin-top: 30px;
		width: fit-content;
	}

	a {
		height: 50px;
		cursor: pointer;
		font-size: 20px;
		font-weight: 500;
		color: #ffffff;
		line-height: 30px;
		padding: 10px 22px;
		border-radius: 5px;
		background: #ff5300;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}

	.footer__logo {
		img {
			width: 100px;
		}
	}
}
