.header {
	padding: 30px 0;
	background-color: #fff7f4;

	&__logo{
		display: flex;
		align-items: center;
		gap: 40px;
	}

	& > div {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			line-height: 46px;
			font-size: 39.06px;
		}

		img{
			width: 100px;
		}

		nav {
			align-items: center;

			a {
				font-size: 20px;
				font-weight: 500;
				line-height: 30px;
			}

			& > *:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
}
