.greeting {
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding-bottom: 150px;

	&__text {
		margin-right: 35px;

		h2 {
			font-weight: 700;
			line-height: 73px;
			font-size: 48.83px;
			margin-bottom: 18px;
		}

	}

	.text {
		margin-bottom: 30px;
	}
}
