.results {
  padding: 0 0 20px;

  .container{
    text-align: center;
    padding: 40px;
  }

  &__title {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
  }

  &__list > * {
    position: relative;
    width: 1300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #373737;
  }

  p {
    display: inline-block;
    margin-right: 15px;
  }

  p:first-child{
    font-weight: 600;
  }

}