* {
	margin: 0;
	padding: 0;
	text-decoration: none;

	a {
		color: inherit;
	}

	button {
		border: 0;
	}
}

/* ======================================================================= */

.container {
	width: 1440px;
	padding: 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

main {
	color: #373737;
	font-family: sans-serif;
}

section:nth-child(odd) {
	background-color: #fff7f4;
}

/* =======COMMON================================================================ */

.text {
	font-size: 16px;
	color: #7b7b7b;
	font-weight: 400;
	line-height: 24px;
}

.title {
	font-weight: 600;
	line-height: 59px;
	width: fit-content;
	margin-bottom: 30px;
	font-size: 39.0625px;
}

.subtitle {
	font-size: 16px;
	color: #ff5300;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	width: fit-content;
	margin-bottom: 8px;

	&::before,
	&::after {
		content: "";
		top: 18px;
		height: 1px;
		width: 40px;
		position: absolute;
		background-color: #ff5300;
	}

	&::before {
		left: -50px;
	}

	&::after {
		right: -50px;
	}
}

button {
  gap: 10px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  padding: 10px 22px;
  border-radius: 5px;
  background: #ff5300;
}